<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Media</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body>
    <h1>Media</h1>
    <h1>Crear Media</h1>
    <section>
        {{#if mensaje}}
            <div class="mensaje_error">
                <p>{{mensaje}}</p>
            </div>
        {{/if}}
    </section>
    <section class="form_crear">
    <form action="/admin/Media/create" method="POST" enctype="multipart/form-data">
        <label for="matricula">Selecciona la matrícula:</label>
        <select name="matricula" id="matricula">
            {{#each integrantesActivos}}
                <option value="{{this.matricula}}">{{this.matricula}}</option>
            {{/each}}
        </select>
        <br>
        <label for="tipo_medio">Selecciona el tipo de medio:</label>
        <select name="tipo_medio" id="tipo_medio">
            {{#each tiposMedia}}
                <option value="{{this.tipo}}">{{this.tipo}}</option>
            {{/each}}
        </select>
        <br>
        <label for="url">URL:</label>
        <input type="text" id="url" name="url">
        <br>
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo">
        <br>
        <label for="parrafo">Párrafo:</label>
        <textarea id="parrafo" name="parrafo"></textarea>
        <br>
        <label for="imagen">Imagen:</label>
        <input type="file" id="imagen" name="imagen">
        <br>
        <label for="video">Video:</label>
        <input type="text" id="video" name="video">
        <br>
        <label for="esta_borrado">Estado:</label>
        <select name="esta_borrado" id="esta_borrado">
            <option value="0">Activo</option>
            <option value="1">Inactivo</option>
        </select>
        <br>
        <input type="submit" value="Crear Medio">
    </form>
    </section>
    <a class="volver" href="/admin/Media/listar">Volver</a>
</body>
</html>
