<footer class="pie-de-pagina">
  <div class="informacion-general">
    <h5>{{MATERIA}}</h5>
    <p>Este curso profundiza en los principios y prácticas avanzadas de la Ingeniería del Software, con énfasis en el desarrollo de sistemas complejos y la gestión de proyectos de software.</p>
    <h5>Desarrollado por: {{NOMBRE}} {{APELLIDO}}</h5>
  </div>
  <div class="enlaces">
    <a href="{{ENLACE}}">Repositorio GitLab</a>
  </div>
</footer>
